@use "property";

* {
  margin: 0;

  padding: 0;

  font-family: "poppins", sans-serif;

  box-sizing: border-box;
}

.container {

  width: 100%;

  min-height: 100vh;

  background-image: linear-gradient(
    135deg,
    var(--color-linear-gradient1),
    var(--color-linear-gradient2)
  );

  transition: --color-linear-gradient1 1.5s, --color-linear-gradient2 1.5s;

  display: grid;

  justify-content: center;

  grid-template-columns: 1fr;

  justify-items: center;


  .todo-app {

    @media (max-width:1270px) {

      padding: 40px 4vw 70px;

    }

    width: 80%;

    max-width: 540px;

    background: #fff;

    margin: 100px auto 20px;

    padding: 40px 20px 70px;

    border-radius: 10px;

    min-height: 195px;

    display: grid;

    height: min-content;

    transition: 1.5s;

    h2 {
      color: #002765;

      display: flex;

      align-items: center;

      img {
        width: 30px;

        margin-left: 10px;
      }

    }

    .row {
      display: flex;

      align-items: center;

      justify-content: space-around;

      background-color: #edeef0;

      border-radius: 30px;

      padding-left: 20px;

      margin-bottom: 25px;

      transition: 1.5s;

      position: relative;
    }

  }


  &.dark-mode {

    --color-linear-gradient1: #111111;

    --color-linear-gradient2: #000000;

    .todo-app {

      background: #121214;

      h2 {
        color: #fff;

        transition: 1.5s;

      }

      .row {

        background-color: #343434;

      }

    }

    .content {

      color: #fff;

    }

    input {

      color: #fff;

    }

    button {

      background: #00D24E;

      color: #121214;

      &:hover {

        background: #00a53d;

      }

    }

  }

}

input {
  flex: 1;

  border: none;

  outline: none;

  background: transparent;

  padding: 10px;

  font-weight: 14px;

  width: 100%;

}

button {
  border: none;

  outline: none;

  background: #ff5945;

  color: #fff;

  font-size: 16px;

  cursor: pointer;

  border-radius: 40px;

  position: relative;

  height: 50px;

  width: 40%;

  &:hover {

    background: #ad3c30;

    transition: 150ms;

  }
}

ul li {
  list-style: none;

  font-size: 17px;

  padding: 12px 50px 12px 50px;

  user-select: none;

  cursor: pointer;

  position: relative;

  word-break: break-word;

  hyphens: auto;
}

ul li::before {
  content: "";

  position: absolute;

  height: 28px;

  width: 28px;

  border-radius: 50%;

  background-image: url(../imgs/unchecked.png);

  background-size: cover;

  background-position: center;

  top: 12px;

  left: 8px;
}

ul li.checked {
  color: #555;

  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(../imgs/checked.png);
}

ul li span {
  position: absolute;

  right: 0;

  top: 5px;

  width: 40px;

  height: 40px;

  font-size: 22px;

  color: #555;

  line-height: 40px;

  text-align: center;

  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}

#toggle-mode label {
  width: 120px;

  height: 30px;

  position: relative;

  display: block;

  background: #ebebeb;

  border-radius: 200px;

  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);

  cursor: pointer;
}

#toggle-mode label:after {
  content: "";

  width: 20px;

  height: 20px;

  position: absolute;

  top: 5px;

  left: 5px;

  background: linear-gradient(180deg, #ffcc89, #d8860b);

  border-radius: 180px;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#toggle-mode input {
  width: 0;

  height: 0;

  visibility: hidden;


}

#toggle-mode input:checked + label {
  background: #242424;
}

#toggle-mode input:checked + label:after {
  left: 115px;

  transform: translateX(-100%);

  background: linear-gradient(180deg, #777, #3a3a3a);
}

#toggle-mode label,
label:after {
  transition: 0.5s;
}

#toggle-mode label:active:after {
  width: 40px;
}

#toggle-mode label {

  svg {
    position: absolute;

    width: 12px;

    height: 12px;

    top: 9px;

    z-index: 100;
  }

  svg.sun {
    left: 9px;

    fill: #fff;

    transition: 0.3s;
  }

  svg.moon {
    left: 100px;

    fill: #7e7e7e;

    transition: 0.3s;
  }

}

input:checked + label {

  svg.sun path {
    fill: #7e7e7e;
  }

  svg.moon path {
    fill: #fff;
  }

}


#header {
  display: flex;

  flex-wrap: wrap;

  gap: 10px;

  align-items: center;

  justify-content: space-between;

  margin-bottom: 20px;
}

#darkmode-toggle {
  position: absolute;
}
